

.login-center{
    text-align: center;
    background-color: #fff;
    width: fit-content;
    padding: 30px 40px;
    border-radius: 10px;
    margin: auto;
}
.ant-layout-content{
    height: initial;
}